1.例如 p元素，里面的文字不换行显示，超出部分不隐藏
p{
  width:100px;
  word-break:keep-all;
  white-space:nowrap;     
}

2.例如 p元素，里面的文字不换行，超出部分用省略号代替
p{
  width:100px;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis; 
}

3.white-space: nowrap;   //文字同行显示，不进行换行

4.lint-style:none;       //ul li   去掉前面的点

5.table 显示边框
	.table {
				border-collapse: collapse;
				text-align:center;
			}
	.table td {
		border: 1px solid rgba(183, 210, 255, 1);
	}

6.响应式布局 @media

如果文档宽度小于等于 300px 则应用花括号内的样式——修改body的背景颜色(background-color)
@media screen and (max-width: 300px) {
    body {
        background-color:lightblue;
    }
}	
当文档宽度大于等于300px 的时候显示的样式
@media screen and (min-width: 300px){
    body {
        background-color:lightblue;
    }
}
当文档宽度大于等于 300px 并且小于等于500px （ width >=300 && width <=500）的时候显示的样式
@media screen and (min-width:300px) and (max-width:500px) {
    /* CSS 代码 */
}	
	
7.  csshover.htc文件可以解决ie6下hover不兼容问题
body{behavior:url(css/csshover.htc);} 	